a, a:hover {
  color: rgba(30, 80, 30, 0.575);
}


/* Back to top button */
.back-to-top {
  background: rgba(30, 80, 30, 0.575);
  color: whitesmoke;
}


.back-to-top:focus {
  background: rgba(73, 65, 16, 0.658);
  color: #fff;
}

.back-to-top:hover {
  background: rgba(73, 65, 16, 0.658);
  color: #fff;
}

.navbar-default {
  background:rgba(30, 80, 30, 0.575);
}

.form-control:focus {
  border-color: rgba(30, 80, 30, 0.575);
  -webkit-box-shadow: inset 0 1px 1px rgba(228, 13, 13, 0.075), 0 0 2px rgba(30, 80, 30, 0.575);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 2px rgba(30, 80, 30, 0.575);
}

.service .carousel-indicators .active {
  background: rgba(30, 80, 30, 0.575);
}

.btn-theme {
  background: rgba(30, 80, 30, 0.575);
}

.contact-widget i {
  color: rgba(30, 80, 30, 0.575);
}
